version: 6.41.5

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - space

definitions:
  api_token_auth:
    type: BasicHttpAuthenticator
    username: "{{ config['credentials']['email'] }}"
    password: "{{ config['credentials']['api_token'] }}"

  oauth2_auth:
    type: OAuthAuthenticator
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    access_token_value: "{{ config['credentials'].get('access_token', '') }}"
    token_refresh_endpoint: "https://auth.atlassian.com/oauth/token"
    scopes:
      - read:confluence-content.all
      - read:confluence-space.summary
      - read:confluence-user
      - offline_access

  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      api_token: "#/definitions/api_token_auth"
      oauth2.0: "#/definitions/oauth2_auth"

  streams:
    audit:
      type: DeclarativeStream
      name: audit
      primary_key:
        - creationDate
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/rest/api/audit
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/audit"
    blog_posts:
      type: DeclarativeStream
      name: blog_posts
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/api/v2/blogposts
          http_method: GET
          request_parameters:
            expand: >-
              history,history.lastUpdated,history.previousVersion,history.contributors,restrictions.read.restrictions.user,version,descendants.comment,body,body.storage,body.view
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/blog_posts"
    group:
      type: DeclarativeStream
      name: group
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/rest/api/group
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/group"
    pages:
      type: DeclarativeStream
      name: pages
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/api/v2/pages
          http_method: GET
          request_parameters:
            expand: >-
              history,history.lastUpdated,history.previousVersion,history.contributors,restrictions.read.restrictions.user,version,descendants.comment,body,body.storage,body.view
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/pages"
    space:
      type: DeclarativeStream
      name: space
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/api/v2/spaces
          http_method: GET
          request_parameters:
            expand: permissions,icon,description.plain,description.view
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/space"
    page_trees:
      type: DeclarativeStream
      name: page_trees
      primary_key:
        - id
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: wiki/rest/api/content/search
          http_method: GET
          request_parameters:
            cql: >-
              (id = '{{ stream_partition.ancestor_id }}'
               OR ancestor = '{{ stream_partition.ancestor_id }}')
               AND type = page
            expand: "version,body.storage,history,space,ancestors"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - results
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            field_name: start
            inject_into: request_parameter
          page_size_option:
            type: RequestOption
            field_name: limit
            inject_into: request_parameter
          pagination_strategy:
            type: OffsetIncrement
            page_size: 25
        partition_router:
          type: ListPartitionRouter
          values: "{{ config.get('ancestor_page_ids', []) }}"
          cursor_field: ancestor_id
        decoder:
          type: JsonDecoder
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/page_trees"

  base_requester:
    type: HttpRequester
    url_base: >-
      {{ 'https://api.atlassian.com/ex/confluence/' + config['credentials']['cloud_id'] + '/'
         if config['credentials']['auth_type'] == 'oauth2.0'
         else 'https://' + config['credentials']['domain_name'] + '/' }}
    authenticator:
      $ref: "#/definitions/authenticator"

streams:
  - $ref: "#/definitions/streams/audit"
  - $ref: "#/definitions/streams/blog_posts"
  - $ref: "#/definitions/streams/group"
  - $ref: "#/definitions/streams/pages"
  - $ref: "#/definitions/streams/space"
  - $ref: "#/definitions/streams/page_trees"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - credentials
    properties:
      credentials:
        title: Authentication
        type: object
        order: 0
        oneOf:
          - title: API Token
            type: object
            required:
              - auth_type
              - email
              - api_token
              - domain_name
            properties:
              auth_type:
                type: string
                const: api_token
                default: api_token
                order: 0
              email:
                type: string
                title: Email
                description: Your Confluence login email
                examples:
                  - abc@example.com
                order: 1
              api_token:
                type: string
                title: API Token
                description: >-
                  Please follow the Jira confluence for generating an API token: <a
                  href="https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/">generating
                  an API token</a>.
                airbyte_secret: true
                order: 2
              domain_name:
                type: string
                title: Domain Name
                description: "Your Confluence domain name, e.g. yourcompany.atlassian.net"
                order: 3
          - title: OAuth 2.0
            type: object
            required:
              - auth_type
              - client_id
              - client_secret
              - refresh_token
              - cloud_id
            properties:
              auth_type:
                type: string
                const: oauth2.0
                default: oauth2.0
                order: 0
              client_id:
                type: string
                title: Client ID
                order: 1
              client_secret:
                type: string
                title: Client Secret
                airbyte_secret: true
                order: 2
              refresh_token:
                type: string
                title: Refresh Token
                airbyte_secret: true
                order: 3
              access_token:
                type: string
                title: Access Token
                airbyte_secret: true
                order: 4
              cloud_id:
                type: string
                title: Cloud ID
                description: "Your Atlassian Cloud ID from the accessible-resources API"
                order: 5
      ancestor_page_ids:
        type: array
        items:
          type: string
        title: Ancestor Page IDs
        description: >-
          Optional. Provide top-level page IDs to selectively ingest those pages and
          all their descendants (recursively). If omitted, use the `pages` stream for
          full ingestion.
        order: 1
        examples:
          - ["123456", "789012"]
    additionalProperties: true
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: oauth2.0
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          access_token:
            type: string
            path_in_connector_config:
              - credentials
              - access_token
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

metadata:
  autoImportSchema:
    audit: false
    blog_posts: false
    group: false
    pages: false
    space: false
    page_trees: false
  testedStreams:
    audit:
      streamHash: b5a00bf9721bfb59848a3e1532c90b46545a570a
    blog_posts:
      streamHash: c83752bf5a255bdb8cc99fa8e7b83c478b3f968b
    group:
      streamHash: 4e948474189a24fbfbf8d501c313fd11ca76af5b
    pages:
      streamHash: 040df0f11ccf4ade7031617951b809adf5b969fb
    space:
      streamHash: fabb0603908ac064a4717ad62454968d184e83f8
    page_trees:
      streamHash: ""
  assist: {}

schemas:
  audit:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      description:
        type:
          - "null"
          - string
        description: A detailed description of the audit event.
      affectedObject:
        type:
          - "null"
          - object
        description: The object that was affected by the audit event.
      associatedObjects:
        type:
          - "null"
          - array
        description: Any associated objects related to the audit event.
      author:
        type:
          - "null"
          - object
        description: The user who triggered the audit event.
      category:
        type:
          - "null"
          - string
        description: The category under which the audit event falls.
      changedValues:
        type:
          - "null"
          - array
        description: Details of the values that were changed during the audit event.
      creationDate:
        type:
          - "null"
          - integer
        description: The date and time when the audit event was created.
      remoteAddress:
        type:
          - "null"
          - string
        description: The IP address from which the audit event originated.
      summary:
        type:
          - "null"
          - string
        description: A brief summary or title describing the audit event.
      superAdmin:
        type:
          - "null"
          - boolean
        description: Indicates if the user triggering the audit event is a super admin.
      sysAdmin:
        type:
          - "null"
          - boolean
        description: Indicates if the user triggering the audit event is a system admin.
  blog_posts:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      version:
        type: object
        properties:
          createdAt:
            type: string
            format: date-time
          message:
            type: string
          number:
            type: integer
          minorEdit:
            type: boolean
          authorId:
            type: string
      id:
        type: string
      status:
        type: string
      title:
        type: string
      spaceId:
        type: string
      authorId:
        type: string
      createdAt:
        type: string
        format: date-time
      body:
        type: object
        properties:
          storage:
            type: object
          atlas_doc_format:
            type: object
      _links:
        type: object
        properties:
          webui:
            type: string
          editui:
            type: string
          tinyui:
            type: string
    additionalProperties: true
  group:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      type:
        type:
          - "null"
          - string
        description: The type of group, indicating its category or classification.
      _links:
        type:
          - "null"
          - object
        description: A collection of links related to the group entity.
      id:
        type:
          - "null"
          - string
        description: The unique identifier of the group.
      name:
        type:
          - "null"
          - string
        description: The name of the group.
  pages:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      version:
        type: object
        properties:
          createdAt:
            type: string
            format: date-time
          message:
            type: string
          number:
            type: integer
          minorEdit:
            type: boolean
          authorId:
            type: string
      id:
        type: string
      status:
        type: string
      title:
        type: string
      spaceId:
        type: string
      parentId:
        type: string
      parentType:
        type: string
      position:
        type: integer
      authorId:
        type: string
      ownerId:
        type: string
      lastOwnerId:
        type: string
      createdAt:
        type: string
        format: date-time
      body:
        type: object
        properties:
          storage:
            type: object
          atlas_doc_format:
            type: object
      _links:
        type: object
        properties:
          webui:
            type: string
          editui:
            type: string
          tinyui:
            type: string
    additionalProperties: true
  space:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    properties:
      type:
        type: string
      description:
        type: object
        properties:
          plain:
            type: object
          view:
            type: object
      id:
        type: string
      key:
        type: string
      name:
        type: string
      status:
        type: string
      authorId:
        type: string
      createdAt:
        type: string
        format: date-time
      homepageId:
        type: string
      icon:
        type: object
        properties:
          path:
            type: string
          apiDownloadLink:
            type: string
      _links:
        type: object
        properties:
          webui:
            type: string
    additionalProperties: true
  page_trees:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - string
          - "null"
      type:
        type:
          - string
          - "null"
      status:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      space:
        type:
          - object
          - "null"
        properties:
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
      version:
        type:
          - object
          - "null"
        properties:
          number:
            type:
              - integer
              - "null"
          when:
            type:
              - string
              - "null"
            format: date-time
          by:
            type:
              - object
              - "null"
          message:
            type:
              - string
              - "null"
          minorEdit:
            type:
              - boolean
              - "null"
      ancestors:
        type:
          - array
          - "null"
      body:
        type:
          - object
          - "null"
        properties:
          storage:
            type:
              - object
              - "null"
      history:
        type:
          - object
          - "null"
        properties:
          createdDate:
            type:
              - string
              - "null"
            format: date-time
          createdBy:
            type:
              - object
              - "null"
          lastUpdated:
            type:
              - object
              - "null"
      _links:
        type:
          - object
          - "null"
