version: 6.5.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - customers

definitions:
  # ============================================
  # AUTHENTICATOR - OAuth 2.0 with refresh token
  # ============================================
  oauth_authenticator:
    type: OAuthAuthenticator
    token_refresh_endpoint: "https://oauth2.googleapis.com/token"
    client_id: "{{ config['credentials']['client_id'] }}"
    client_secret: "{{ config['credentials']['client_secret'] }}"
    refresh_token: "{{ config['credentials']['refresh_token'] }}"
    scopes:
      - "https://www.googleapis.com/auth/adwords"

  # ============================================
  # BASE REQUESTER
  # ============================================
  base_requester:
    type: HttpRequester
    url_base: "https://googleads.googleapis.com/v22"
    authenticator:
      $ref: "#/definitions/oauth_authenticator"
    request_headers:
      Content-Type: "application/json"
      developer-token: "{{ config['developer_token'] }}"
      login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"

  # ============================================
  # RECORD SELECTORS
  # ============================================
  # Selector for search/searchStream responses
  search_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - results

  # Selector for listAccessibleCustomers
  customers_list_selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path:
        - resourceNames
    record_filter:
      type: RecordFilter
      condition: "{{ true }}"

  # ============================================
  # PAGINATORS
  # ============================================
  # Paginator for search method (page_token based)
  search_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestOption
      field_name: pageToken
      inject_into: body_json
    page_size_option:
      type: RequestOption
      field_name: pageSize
      inject_into: body_json
    pagination_strategy:
      type: CursorPagination
      page_size: 10000
      cursor_value: "{{ response.get('nextPageToken', '') }}"
      stop_condition: "{{ not response.get('nextPageToken') }}"

  # ============================================
  # INCREMENTAL SYNC DEFINITIONS
  # ============================================
  # Date-based incremental sync for metrics streams
  date_incremental_sync:
    type: DatetimeBasedCursor
    cursor_field: "segments.date"
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config['start_date'] }}"
      datetime_format: "%Y-%m-%d"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ today_utc().strftime('%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
    step: "P1D"
    cursor_granularity: "P1D"
    lookback_window: "P3D"

  # ============================================
  # TRANSFORMATIONS
  # ============================================
  # Transform to flatten nested results
  flatten_transformation:
    type: AddFields
    fields:
      - path:
          - _airbyte_extracted_at
        value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"

  # ============================================
  # CUSTOM QUERY STREAM TEMPLATE
  # ============================================
  custom_query_stream_template:
    type: DeclarativeStream
    name: "custom_query"
    $parameters:
      _custom_query: "SELECT campaign.id FROM campaign"  # placeholder, overridden at runtime
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >-
            {%- set q = parameters['_custom_query'] -%}
            {%- if stream_slice.get('start_time') -%}
              {%- set date_filter = "segments.date >= '" ~ stream_slice['start_time'] ~ "' AND segments.date <= '" ~ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) ~ "'" -%}
              {%- if q | regex_search('(?i)\\bORDER\\s+BY\\b') -%}
                {{ q | regex_replace('(?i)(\\bORDER\\s+BY\\b)', ('AND ' if q | regex_search('(?i)\\bWHERE\\b') else 'WHERE ') ~ date_filter ~ ' ORDER BY ') }}
              {%- elif q | regex_search('(?i)\\bWHERE\\b') -%}
                {{ q }} AND {{ date_filter }}
              {%- else -%}
                {{ q }} WHERE {{ date_filter }}
              {%- endif -%}
            {%- else -%}
              {{ q }}
            {%- endif %}
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        additionalProperties: true
        properties: {}

# ============================================
# STREAMS
# ============================================
streams:
  # -------------------------------------------
  # CUSTOMERS STREAM - List accessible customers
  # -------------------------------------------
  - type: DeclarativeStream
    name: customers
    description: "List of Google Ads customer accounts accessible to the authenticated user"
    primary_key:
      - resource_name
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com"
        path: "/v22/customers:listAccessibleCustomers"
        http_method: GET
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
    transformations:
      - type: AddFields
        fields:
          - path:
              - resource_name
            value: "{{ record }}"
          - path:
              - customer_id
            value: "{{ record.split('/')[-1] if '/' in record else record }}"

  # -------------------------------------------
  # CUSTOMER DETAILS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: customer
    description: "Customer account details"
    primary_key:
      - customer.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              customer.id,
              customer.descriptive_name,
              customer.currency_code,
              customer.time_zone,
              customer.auto_tagging_enabled,
              customer.manager,
              customer.test_account,
              customer.resource_name
            FROM customer
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        type: NoPagination

  # -------------------------------------------
  # CAMPAIGNS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: campaigns
    description: "All campaigns in the account"
    primary_key:
      - campaign.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              campaign.id,
              campaign.name,
              campaign.status,
              campaign.advertising_channel_type,
              campaign.advertising_channel_sub_type,
              campaign.bidding_strategy_type,
              campaign.start_date,
              campaign.end_date,
              campaign.resource_name,
              campaign_budget.amount_micros,
              campaign_budget.delivery_method
            FROM campaign
            WHERE campaign.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

  # -------------------------------------------
  # AD GROUPS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: ad_groups
    description: "All ad groups across campaigns"
    primary_key:
      - ad_group.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group.id,
              ad_group.name,
              ad_group.status,
              ad_group.type,
              ad_group.cpc_bid_micros,
              ad_group.resource_name,
              campaign.id,
              campaign.name
            FROM ad_group
            WHERE ad_group.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

  # -------------------------------------------
  # ADS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: ads
    description: "All ads across ad groups"
    primary_key:
      - ad_group_ad.ad.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group_ad.ad.id,
              ad_group_ad.ad.name,
              ad_group_ad.ad.type,
              ad_group_ad.ad.final_urls,
              ad_group_ad.status,
              ad_group_ad.ad.resource_name,
              ad_group_ad.policy_summary.approval_status,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name
            FROM ad_group_ad
            WHERE ad_group_ad.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

  # -------------------------------------------
  # KEYWORDS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: keywords
    description: "Keywords for search campaigns"
    primary_key:
      - ad_group_criterion.criterion_id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group_criterion.criterion_id,
              ad_group_criterion.keyword.text,
              ad_group_criterion.keyword.match_type,
              ad_group_criterion.status,
              ad_group_criterion.quality_info.quality_score,
              ad_group_criterion.resource_name,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name
            FROM ad_group_criterion
            WHERE ad_group_criterion.type = 'KEYWORD'
              AND ad_group_criterion.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

  # -------------------------------------------
  # CAMPAIGN PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: campaign_performance
    description: "Daily campaign performance metrics"
    primary_key:
      - campaign.id
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              campaign.id,
              campaign.name,
              campaign.status,
              segments.date,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.conversions_value,
              metrics.ctr,
              metrics.average_cpc,
              metrics.average_cpm,
              metrics.interactions,
              metrics.interaction_rate
            FROM campaign
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
              AND campaign.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # AD GROUP PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: ad_group_performance
    description: "Daily ad group performance metrics"
    primary_key:
      - ad_group.id
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group.id,
              ad_group.name,
              ad_group.status,
              campaign.id,
              campaign.name,
              segments.date,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.conversions_value,
              metrics.ctr,
              metrics.average_cpc
            FROM ad_group
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
              AND ad_group.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # KEYWORD PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: keyword_performance
    description: "Daily keyword performance metrics"
    primary_key:
      - ad_group_criterion.criterion_id
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group_criterion.criterion_id,
              ad_group_criterion.keyword.text,
              ad_group_criterion.keyword.match_type,
              ad_group_criterion.quality_info.quality_score,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name,
              segments.date,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.ctr,
              metrics.average_cpc,
              metrics.average_position
            FROM keyword_view
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # SEARCH TERMS REPORT STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: search_terms_report
    description: "Search terms that triggered ads"
    primary_key:
      - search_term_view.search_term
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              search_term_view.search_term,
              search_term_view.status,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name,
              segments.date,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.ctr,
              metrics.average_cpc
            FROM search_term_view
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # GEOGRAPHIC PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: geographic_performance
    description: "Performance metrics by geographic location"
    primary_key:
      - geographic_view.country_criterion_id
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              geographic_view.country_criterion_id,
              geographic_view.location_type,
              campaign.id,
              campaign.name,
              segments.date,
              segments.geo_target_country,
              segments.geo_target_region,
              segments.geo_target_city,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.ctr
            FROM geographic_view
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # AUDIENCE PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: audience_performance
    description: "Performance metrics by audience segment"
    primary_key:
      - ad_group_audience_view.resource_name
      - segments.date
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              ad_group_audience_view.resource_name,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name,
              segments.date,
              metrics.impressions,
              metrics.clicks,
              metrics.cost_micros,
              metrics.conversions,
              metrics.ctr,
              metrics.average_cpc
            FROM ad_group_audience_view
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # CLICK PERFORMANCE STREAM (Incremental)
  # -------------------------------------------
  - type: DeclarativeStream
    name: click_performance
    description: "Individual click data"
    primary_key:
      - click_view.gclid
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              click_view.gclid,
              click_view.area_of_interest.city,
              click_view.area_of_interest.country,
              click_view.area_of_interest.region,
              click_view.location_of_presence.city,
              click_view.location_of_presence.country,
              click_view.page_number,
              click_view.ad_group_ad,
              click_view.campaign_location_target,
              click_view.keyword,
              click_view.keyword_info.text,
              click_view.keyword_info.match_type,
              segments.date,
              segments.device,
              segments.slot,
              ad_group.id,
              ad_group.name,
              campaign.id,
              campaign.name
            FROM click_view
            WHERE segments.date >= '{{ stream_slice.get('start_time', config['start_date']) }}'
              AND segments.date <= '{{ stream_slice.get('end_time', today_utc().strftime('%Y-%m-%d')) }}'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"
    incremental_sync:
      $ref: "#/definitions/date_incremental_sync"

  # -------------------------------------------
  # CONVERSION ACTIONS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: conversion_actions
    description: "Conversion action configurations"
    primary_key:
      - conversion_action.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              conversion_action.id,
              conversion_action.name,
              conversion_action.type,
              conversion_action.status,
              conversion_action.category,
              conversion_action.counting_type,
              conversion_action.resource_name,
              conversion_action.value_settings.default_value,
              conversion_action.value_settings.always_use_default_value
            FROM conversion_action
            WHERE conversion_action.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

  # -------------------------------------------
  # LABELS STREAM
  # -------------------------------------------
  - type: DeclarativeStream
    name: labels
    description: "Account labels"
    primary_key:
      - label.id
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "https://googleads.googleapis.com/v22"
        path: "/customers/{{ config['customer_id'] | replace('-', '') }}/googleAds:search"
        http_method: POST
        authenticator:
          $ref: "#/definitions/oauth_authenticator"
        request_headers:
          Content-Type: "application/json"
          developer-token: "{{ config['developer_token'] }}"
          login-customer-id: "{{ config['login_customer_id'] | replace('-', '') if config.get('login_customer_id') else config['customer_id'] | replace('-', '') }}"
        request_body_json:
          query: >
            SELECT
              label.id,
              label.name,
              label.status,
              label.resource_name,
              label.text_label.background_color,
              label.text_label.description
            FROM label
            WHERE label.status != 'REMOVED'
          pageSize: 10000
      record_selector:
        $ref: "#/definitions/search_selector"
      paginator:
        $ref: "#/definitions/search_paginator"

# ============================================
# DYNAMIC STREAMS (Custom GAQL Queries)
# ============================================
dynamic_streams:
  - type: DynamicDeclarativeStream
    name: custom_gaql_query
    stream_template:
      $ref: "#/definitions/custom_query_stream_template"
    components_resolver:
      type: ConfigComponentsResolver
      stream_config:
        type: StreamConfig
        configs_pointer:
          - custom_queries
      components_mapping:
        - type: ComponentMappingDefinition
          field_path:
            - name
          value: "{{ components_values['query_name'] }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - $parameters
            - _custom_query
          value: "{{ components_values['query'] }}"
          create_or_update: true
        - type: ComponentMappingDefinition
          field_path:
            - incremental_sync
          value: >-
            {
              "type": "DatetimeBasedCursor",
              "cursor_field": "segments.date",
              "datetime_format": "%Y-%m-%d",
              "cursor_granularity": "P1D",
              "step": "P1D",
              "lookback_window": "P3D",
              "start_datetime": {
                "type": "MinMaxDatetime",
                "datetime": "{{ config.get('start_date', day_delta(-365, format='%Y-%m-%d')) }}",
                "datetime_format": "%Y-%m-%d"
              },
              "end_datetime": {
                "type": "MinMaxDatetime",
                "datetime": "{{ config.get('end_date', today_utc().strftime('%Y-%m-%d')) }}",
                "datetime_format": "%Y-%m-%d"
              }
            }
          condition: >-
            {{
              components_values.get('query', '').count('segments.date') == 1
              and (components_values.get('query') | regex_search('(?i)(\\bSELECT\\b[\\s\\S]*?segments\\.date[\\s\\S]*?\\bFROM\\b)'))
            }}
          create_or_update: true

# ============================================
# CONNECTOR SPECIFICATION
# ============================================
spec:
  type: Spec
  documentation_url: "https://developers.google.com/google-ads/api/docs/start"
  connection_specification:
    type: object
    $schema: "http://json-schema.org/draft-07/schema#"
    required:
      - developer_token
      - customer_id
      - credentials
      - start_date
    properties:
      developer_token:
        type: string
        title: "Developer Token"
        description: >
          Your Google Ads API developer token. You can find this in your
          Google Ads account under Tools & Settings > Setup > API Center.
        order: 0
        airbyte_secret: true
      customer_id:
        type: string
        title: "Customer ID"
        description: >
          The Google Ads customer ID to pull data from. This should be a
          10-digit number, with or without hyphens (e.g., 123-456-7890 or 1234567890).
        order: 1
        examples:
          - "123-456-7890"
          - "1234567890"
      login_customer_id:
        type: string
        title: "Login Customer ID (Manager Account)"
        description: >
          Optional. If you're accessing the customer through a manager account,
          provide the manager account's customer ID here. Leave blank if accessing directly.
        order: 2
        examples:
          - "123-456-7890"
      credentials:
        type: object
        title: "OAuth Credentials"
        description: "OAuth 2.0 credentials for authentication"
        order: 3
        required:
          - client_id
          - client_secret
          - refresh_token
        properties:
          client_id:
            type: string
            title: "Client ID"
            description: "The OAuth client ID from your Google Cloud project"
            airbyte_secret: true
          client_secret:
            type: string
            title: "Client Secret"
            description: "The OAuth client secret from your Google Cloud project"
            airbyte_secret: true
          refresh_token:
            type: string
            title: "Refresh Token"
            description: >
              The OAuth refresh token. This is used to generate access tokens
              for API calls. You can generate this using the Google OAuth Playground
              or your own OAuth flow.
            airbyte_secret: true
      start_date:
        type: string
        title: "Start Date"
        description: >
          The date from which to start syncing data (for incremental streams).
          Format: YYYY-MM-DD
        order: 4
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        examples:
          - "2024-01-01"
        format: date
      end_date:
        type: string
        title: "End Date"
        description: >
          Optional. The date until which to sync data. If not provided,
          syncs up to today's date. Format: YYYY-MM-DD
        order: 5
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        examples:
          - "2024-12-31"
        format: date
      custom_queries:
        type: array
        title: "Custom GAQL Queries"
        description: >
          Optional. Define custom Google Ads Query Language (GAQL) queries
          to create additional streams.
        order: 6
        items:
          type: object
          required:
            - query
            - query_name
          properties:
            query:
              type: string
              title: "GAQL Query"
              description: "The GAQL query to execute"
            query_name:
              type: string
              title: "Table Name"
              description: "The name for this custom stream"

metadata:
  assist:
    docsUrl: "https://developers.google.com/google-ads/api/docs/start"
  autoImportSchema:
    customers: true
    customer: true
    campaigns: true
    ad_groups: true
    ads: true
    keywords: true
    campaign_performance: true
    ad_group_performance: true
    keyword_performance: true
    search_terms_report: true
    geographic_performance: true
    audience_performance: true
    click_performance: true
    conversion_actions: true
    labels: true